@using Newtonsoft.Json;
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MyTechWebUI</title>


    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="~/lib/animate/animate.min.css" rel="stylesheet">
    <link href="~/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">


    <link href="~/css/style.min.css" rel="stylesheet">

</head>
<body>
    <div class="container">
        <div class="row align-items-center bg-secondary py-3 px-xl-5 mt-5 d-none d-lg-flex">
            <div class="col-lg-6">
                <a href="" class="text-decoration-none">
                    <span class="h1 text-uppercase text-primary bg-dark px-2">My Tech</span>
                    <span class="h1 text-uppercase text-dark bg-primary px-2 ml-n1">Shop</span>
                </a>
            </div>

            <div class="col-lg-6 col-6 text-right">
                <form method="post" asp-controller="Home" asp-action="Search">
                    <div class="input-group">
                        <input type="text" class="form-control" name="search" placeholder="Ürün Ara">
                        <div class="input-group-append">
                            <span class="input-group-text bg-transparent text-primary">
                                <i class="fa fa-search"></i>
                            </span>
                        </div>
                    </div>
                </form>
            </div>
            @*       <div class="col-lg-2 text-lg-right">
            <div class="d-inline-flex">
            <div class="btn-group">
            <button type="button" class="btn btn-sm btn-light dropdown-toggle" data-toggle="dropdown">Hesabım</button>
            <div class="dropdown-menu dropdown-menu-right">
            <a asp-controller="Account" asp-action="Login" class="dropdown-item btn">Giriş</a>
            <a asp-controller="Account" asp-action="Register" class="dropdown-item btn">Üye Ol</a>
            </div>
            </div>

            </div>
            </div>*@
        </div>
    </div>
    <div class="container-fluid bg-dark">
        <div class="container  mb-30">
            <div class="row px-xl-5">

                <div class="col-md-12">
                    <nav class="navbar navbar-expand-lg bg-dark navbar-dark py-3 py-lg-0 px-0">
                        <a href="" class="text-decoration-none d-block d-lg-none">
                            <span class="h1 text-uppercase text-dark bg-light px-2">Multi</span>
                            <span class="h1 text-uppercase text-light bg-primary px-2 ml-n1">Shop</span>
                        </a>
                        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                            <div class="navbar-nav mr-auto py-0">
                                <a asp-controller="Home" asp-action="Index" class="nav-item nav-link">Ana Sayfa</a>
                                <a asp-controller="Product" asp-action="Index" class="nav-item nav-link">Ürünler</a>
                                <a asp-controller="Home" asp-action="About" class="nav-item nav-link">Hakkımızda</a>
                                <a asp-controller="Home" asp-action="Contact" class="nav-item nav-link">İletişim</a>
                            </div>
                            <div class="navbar-nav ml-auto py-0 d-none d-lg-block mr-2">
                                <a href="" class="btn px-0">
                                    <i class="fas fa-heart text-primary"></i>
                                    <span class="badge text-secondary border border-secondary rounded-circle" style="padding-bottom: 2px;">0</span>
                                </a>
                                <a href="" class="btn px-0">
                                    <i class="fas fa-shopping-cart text-primary"></i>
                                    <span class="badge text-secondary border border-secondary rounded-circle" style="padding-bottom: 2px;">0</span>
                                </a>
                            </div>
                        </div>

                        @if (User.Identity.IsAuthenticated)
                        {
                            <div class="nav-item dropdown">
                                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Hesabım <i class="fa fa-angle-down mt-1"></i></a>
                                <div class="dropdown-menu bg-light rounded-0 border-0 m-0">
                                    <a href="#" class="dropdown-item btn">Hesap Ayarları</a>
                                    <a asp-controller="Cart" asp-action="Index" class="dropdown-item btn">Sepetim</a>
                                    <a href="#" class="dropdown-item btn">Siparişlerim</a>
                                    <a asp-controller="Account" asp-action="Logout" class="dropdown-item">
                                        <i class="ti-power-off text-primary"></i>
                                        Çıkış Yap
                                    </a>
                                </div>
                            </div>
                        }
                        else
                        {
                            <a asp-controller="Account" asp-action="Login" class="btn px-0">
                                Giriş Yap
                            </a>

                        }

                    </nav>
                </div>
            </div>
        </div>
    </div>

    <div class="container">

        @if (TempData["message"] != null)
        {
            var message = JsonConvert.DeserializeObject<AlertMessage>(TempData["message"] as String);

            <div class="row">
                <div class="col-md-12">
                    <div class="alert alert-@message.AlertType">
                        @message.Message
                    </div>
                </div>
            </div>
        }

        @RenderBody()
    </div>

    <div class="container-fluid bg-dark text-secondary mt-5 pt-5">
        <div class="container">
            <div class="row px-xl-5 pt-5">
                <div class="col-lg-4 col-md-12 mb-5 pr-3 pr-xl-5">
                    <h5 class="text-secondary text-uppercase mb-4">Hakkımızda</h5>
                    <p class="mb-4">Türkiye'nin Bilgisayarcısı MyTech.com olarak Bilgisayar, Gaming Notebooklar ve Gaming Ürünlerin satışını gerçekleştirmek amacıyla yenilikçi mağazacılık anlayışı ve gelişmiş web sitesi özellikleriyle kullanıcılarımıza teknolojik çözümler sunan bir marka olarak 2023 yılında yola çıktık.</p>
                    <p class="mb-2"><i class="fa fa-map-marker-alt text-primary mr-3"></i>Adapazarı / Sakarya</p>
                    <p class="mb-2"><i class="fa fa-envelope text-primary mr-3"></i>info@example.com</p>
                    <p class="mb-0"><i class="fa fa-phone-alt text-primary mr-3"></i>+90 534 345 67 89</p>
                </div>
                <div class="col-lg-8 col-md-12">
                    <div class="row">
                        <div class="col-md-6 mb-5">
                            <h5 class="text-secondary text-uppercase mb-4">Quick Shop</h5>
                            <div class="d-flex flex-column justify-content-start">
                                <a class="text-secondary mb-2" asp-action="Index"><i class="fa fa-angle-right mr-2"></i>Ana Sayfa</a>
                                <a class="text-secondary mb-2" asp-controller="Product" asp-action="Index"><i class="fa fa-angle-right mr-2"></i>Ürünler</a>
                                <a class="text-secondary mb-2" asp-action="About"><i class="fa fa-angle-right mr-2"></i>Hakkımızda</a>
                                <a class="text-secondary" asp-action="Contact"><i class="fa fa-angle-right mr-2"></i>İletişim</a>
                            </div>
                        </div>
                        <div class="col-md-6 mb-5">
                            <h6 class="text-secondary text-uppercase mb-3">Bizi Takio Et</h6>
                            <div class="d-flex">
                                <a class="btn btn-primary btn-square mr-2" href="#"><i class="fab fa-twitter"></i></a>
                                <a class="btn btn-primary btn-square mr-2" href="#"><i class="fab fa-facebook-f"></i></a>
                                <a class="btn btn-primary btn-square mr-2" href="#"><i class="fab fa-linkedin-in"></i></a>
                                <a class="btn btn-primary btn-square" href="#"><i class="fab fa-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row border-top mx-xl-5 py-4" style="border-color: rgba(256, 256, 256, .1) !important;">
                <div class="col-md-6 px-xl-0">
                    <p class="mb-md-0 text-center text-md-left text-secondary">
                        &copy; <a class="text-primary" href="#">My Tech</a>. Tüm Hakları Saklıdır
                    </p>
                </div>
                <div class="col-md-6 px-xl-0 text-center text-md-right">
                    <img class="img-fluid" src="~/img/payments.png" alt="">
                </div>
            </div>
        </div>
    </div>

    <a href="#" class="btn btn-primary back-to-top"><i class="fa fa-angle-double-up"></i></a>

    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/easing/easing.min.js"></script>
    <script src="~/lib/owlcarousel/owl.carousel.min.js"></script>

    <!-- Contact Javascript File -->
    <script src="~/mail/jqBootstrapValidation.min.js"></script>
    <script src="~/mail/contact.js"></script>

    <!-- Template Javascript -->
    <script src="~/js/main.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
