@model ReviewModel
@{
    ViewData["Title"] = "ReviewDetails";
    Layout = "~/Views/Shared/_AdninLayout.cshtml";
}



<div class="col-6 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Kategori Düzenle</h4>
            <form asp-controller="Admin" asp-action="ReviewDetails" method="post" class="forms-sample">
                <input type="hidden" name="id" value="@Model.Id">
                <div class="form-group">
                    <label>Kullanıcı Adı</label>
                    <input asp-for=Name type="text" class="form-control" readonly>
                </div>
                 <div class="form-group">
                    <label>Email</label>
                    <input asp-for=Email type="email" class="form-control" readonly>
                </div>
                <div class="form-group">
                    <label>Yorum</label>
                    <textarea asp-for =Comment type="text" class="form-control" style="height:200; width:400; "></textarea>
                </div>

                <div class="form-group">
                    <button type="submit" class="btn btn-outline-primary mr-2">Kaydet</button>
                    <button class="btn btn-light">İptal</button>
                </div>
            </form>
        </div>
    </div>
</div>

