@model LoginModel
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_Login.cshtml";
}

<div class="col-lg-4 mx-auto">
    <div class="auth-form-light text-left py-5 px-4 px-sm-5">
        <div class="brand-logo">
            <a href="#" class="text-decoration-none">
                <span class="h1 text-uppercase text-warning bg-dark px-2">My Tech</span>
                <span class="h1 text-uppercase text-dark bg-warning px-2 ml-n1">Shop</span>
            </a>
        </div>
        <h4>Merhaba! başlayalım</h4>
        <h6 class="font-weight-light">Giriş yapın.</h6>
        <form asp-controller="Account" asp-action="Login" method="post" class="pt-3">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <input type="text" asp-for="UserName" class="form-control form-control-lg" id="exampleInputUsername2" placeholder="Kullanıcı Adınız">
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="Password" type="password" class="form-control form-control-lg" id="exampleInputPassword2" placeholder="Şifre">
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="mt-3">
                <button type="submit" class="btn btn-block btn-warning btn-lg font-weight-medium auth-form-btn">Giriş Yap</button>
            </div>
            <div class="my-2 d-flex justify-content-between align-items-center">
                <a asp-controller="Account" asp-action="ForgotPassword" class="auth-link text-black">Şifremi Unuttum</a>
            </div>
            <div class="text-center mt-4 font-weight-light">
                Hesabınız yok mu? <a asp-action="Register" class="text-primary">Hesap Olustur</a>
            </div>
        </form>
    </div>
</div>
